<form (submit)="onSubmit()">
  <div class="form-group">
    <label for="title">Cím:</label>
    <input type="text" id="title" [(ngModel)]="title" name="title" />
  </div>

  <div class="form-group">
    <label for="description">Leírás:</label>
    <textarea id="description" [(ngModel)]="description" name="description"></textarea>
  </div>

  <div class="form-group">
    <label for="isDone">Elvégezve:</label>
    <input type="checkbox" id="isDone" [(ngModel)]="isDone" name="isDone" />
  </div>

  <button type="submit">Todo hozzáadása</button>
</form>
